body {
    text-align: center;
    font-family: sans-serif;
}
h1 {
    font-size: xx-large;
}
button {
    font-size: large;
    margin-top: 3px;
}
button:hover {
    cursor: pointer;
}
input {
    height: 2em;
    width: 23em;
    font-size: larger;
}

.sideNote {
    color: gray;
    font-size: small;
}